<div class="row d-flex justify-content-start mx-md-0">
    <aside class="col-12 col-md-3 d-none d-md-block">
        <div class="row pe-2 ps-lg-0 pe-lg-0 ps-md-2 ps-lg-0">
            <div class="col-12 border-col-setting">
                <div class="row mx-0 w-100">
                    <div class="col-12 px-0">
                        <img class="img-responsive w-100 h-auto" src="assets/image/ino.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside class="col-12 col-md-9 col-lg-9 px-md-2 px-lg-0">
        <div class="section-control row mx-1 mx-md-0 me-lg-4 ms-lg-1">
            <!--- Start Articles Section -->
            <section class="col-12 px-1">
                <div class="container-fluid px-2">
                    <div class="row gy-4">
                        <article class="col-12 border-col-setting bg-white px-0">
                            <div class="d-flex row align-items-start justify-content-between px-3">
                                <div class="col-10 col-md-4 col-lg-11 w-header-custom ps-0">
                                    <div class="row w-100 justify-content-start py-3 px-0 mx-0">
                                        <div class="col-2 cursor w-custom-logo ms-2 px-0">
                                            <img class="w-custom-logo" src="./assets/image/afarine.jpg" alt="">
                                        </div>
                                        <div class="col-auto col-sm-11 w-custom-detail">
                                            <div class="row gy-2">
                                                <div class="cursor col-12 d-flex align-items-center px-0">
                                                    <span class="com-name">مجله اینترنتی آفرینه <i class="fas fa-check-circle me-1"></i>
                                                        </span>
                                                </div>
                                                <div class="col-12 d-flex align-items-center px-0">
                                                    <i class="fas fa-clock ms-1"></i>
                                                    <span class="post-date">4 ساعت پیش</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1 w-custom-menu d-flex align-items-start">
                                    <button mat-icon-button class="" [matMenuTriggerFor]="beforeMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                          </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                               <mat-icon>share</mat-icon>
                                               <span class="btn-custom">اشتراک گذاری</span>
                                            </button>
                                        <button mat-menu-item>
                                               <mat-icon>content_copy</mat-icon>
                                               <span class="btn-custom">کپی لینک</span>
                                            </button>
                                        <button mat-menu-item>
                                              <mat-icon>bookmark_border</mat-icon>
                                              <!-- <mat-icon>bookmark</mat-icon> -->
                                              <span class="btn-custom">ذخیره</span>
                                            </button>
                                        <button mat-menu-item>
                                                <mat-icon>flag</mat-icon>
                                                <span class="btn-custom">گزارش</span>
                                              </button>
                                        <button mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span class="btn-custom">ویرایش</span>
                                              </button>
                                        <button mat-menu-item>
                                                <mat-icon>delete</mat-icon>
                                                <span class="btn-custom">حذف</span>
                                              </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="row w-100 me-0 justify-content-center">
                                <h1 class="p-2 post-title my-0">به مجله افرینه خوش امدید ضمنا جهت تنظیم برنامه به سایت اصلی مراجعه کنید</h1>
                                <div class="overflow-hidden p-0 h-100">
                                    <img src="./assets/image/28.jpg" class="post-img" alt="">
                                </div>
                                <div class="row px-0">
                                    <p class="col-12 mx-0 post-text">
                                        لورم ایپسوم متن ساختگی جهت تست کردن و برقرار کردن متن و محتوای مورد نظر به منظور نمایش و آزمایش است برای آشنایی با لورم ایپسوم لطفا به سایتی با همین نام مراجعه کنید با تشکر مدیریت و سازنده لورم ایپسوم <br> شما میتوانید
                                        به کمک لورم ایپسوم در طراحی های خود پیشرفت کنید و در ارائه خدمات پیشتاز باشید
                                        <br> از لورم ایپسوم در طراحی سایت ، فتوشاپ طراحی های مختلف و نرم افزارهای مختلف استفاده میشود.
                                    </p>
                                    <div class="row justify-content-end pb-3">
                                        <button mat-raised-button color="primary">ادامه مطلب</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center justrify-content-start p-2 mx-0 mb-1 w-100 border-custom">
                                <div class="post-author d-flex align-items-center">
                                    <img class="author-img" src="./assets/image/1.jpeg" alt="">
                                    <span class="author-name">مسعود آقایی ساداتی</span>
                                </div>
                            </div>
                        </article>
                        <article class="col-12 border-col-setting bg-white px-0">
                            <div class="d-flex row align-items-start justify-content-between px-3">
                                <div class="col-10 col-md-4 col-lg-11 w-header-custom ps-0">
                                    <div class="row w-100 justify-content-start py-3 px-0 mx-0">
                                        <div class="col-2 cursor w-custom-logo ms-2 px-0">
                                            <img class="w-custom-logo" src="./assets/image/afarine.jpg" alt="">
                                        </div>
                                        <div class="col-auto col-sm-11 w-custom-detail">
                                            <div class="row gy-2">
                                                <div class="cursor col-12 d-flex align-items-center px-0">
                                                    <span class="com-name">مجله اینترنتی آفرینه                                                                 <i class="fas fa-check-circle me-1"></i>
                                                        </span>
                                                </div>
                                                <div class="col-12 d-flex align-items-center px-0">
                                                    <i class="fas fa-clock ms-1"></i>
                                                    <span class="post-date">4 ساعت پیش</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1 w-custom-menu d-flex align-items-start">
                                    <button mat-icon-button class="" [matMenuTriggerFor]="beforeMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                          </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                               <mat-icon>share</mat-icon>
                                               <span class="btn-custom">اشتراک گذاری</span>
                                            </button>
                                        <button mat-menu-item>
                                               <mat-icon>content_copy</mat-icon>
                                               <span class="btn-custom">کپی لینک</span>
                                            </button>
                                        <button mat-menu-item>
                                              <mat-icon>bookmark_border</mat-icon>
                                              <!-- <mat-icon>bookmark</mat-icon> -->
                                              <span class="btn-custom">ذخیره</span>
                                            </button>
                                        <button mat-menu-item>
                                                <mat-icon>flag</mat-icon>
                                                <span class="btn-custom">گزارش</span>
                                              </button>
                                        <button mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span class="btn-custom">ویرایش</span>
                                              </button>
                                        <button mat-menu-item>
                                                <mat-icon>delete</mat-icon>
                                                <span class="btn-custom">حذف</span>
                                              </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="row w-100 me-0 justify-content-center">
                                <h1 class="p-2 post-title my-0">به مجله افرینه خوش امدید ضمنا جهت تنظیم برنامه به سایت اصلی مراجعه کنید</h1>
                                <div class="overflow-hidden p-0 h-100">
                                    <img src="./assets/image/20.jpg" class="post-img" alt="">
                                </div>
                                <div class="row px-0">
                                    <p class="col-12 mx-0 post-text">
                                        لورم ایپسوم متن ساختگی جهت تست کردن و برقرار کردن متن و محتوای مورد نظر به منظور نمایش و آزمایش است برای آشنایی با لورم ایپسوم لطفا به سایتی با همین نام مراجعه کنید با تشکر مدیریت و سازنده لورم ایپسوم <br> شما میتوانید
                                        به کمک لورم ایپسوم در طراحی های خود پیشرفت کنید و در ارائه خدمات پیشتاز باشید
                                        <br> از لورم ایپسوم در طراحی سایت ، فتوشاپ طراحی های مختلف و نرم افزارهای مختلف استفاده میشود.
                                    </p>
                                    <div class="row justify-content-end pb-3">
                                        <button mat-raised-button color="primary">ادامه مطلب</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center justrify-content-start p-2 mx-0 mb-1 w-100 border-custom">
                                <div class="post-author d-flex align-items-center">
                                    <img class="author-img" src="./assets/image/1.jpeg" alt="">
                                    <span class="author-name">مسعود آقایی ساداتی</span>
                                </div>
                            </div>
                        </article>
                        <article class="col-12 border-col-setting bg-white px-0">
                            <div class="d-flex row align-items-start justify-content-between px-3">
                                <div class="col-10 col-md-4 col-lg-11 w-header-custom ps-0">
                                    <div class="row w-100 justify-content-start py-3 px-0 mx-0">
                                        <div class="col-2 cursor w-custom-logo ms-2 px-0">
                                            <img class="w-custom-logo" src="./assets/image/afarine.jpg" alt="">
                                        </div>
                                        <div class="col-auto col-sm-11 w-custom-detail">
                                            <div class="row gy-2">
                                                <div class="cursor col-12 d-flex align-items-center px-0">
                                                    <span class="com-name">مجله اینترنتی آفرینه                                                                 <i class="fas fa-check-circle me-1"></i>
                                                        </span>
                                                </div>
                                                <div class="col-12 d-flex align-items-center px-0">
                                                    <i class="fas fa-clock ms-1"></i>
                                                    <span class="post-date">4 ساعت پیش</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1 w-custom-menu d-flex align-items-start">
                                    <button mat-icon-button class="" [matMenuTriggerFor]="beforeMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                          </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                               <mat-icon>share</mat-icon>
                                               <span class="btn-custom">اشتراک گذاری</span>
                                            </button>
                                        <button mat-menu-item>
                                               <mat-icon>content_copy</mat-icon>
                                               <span class="btn-custom">کپی لینک</span>
                                            </button>
                                        <button mat-menu-item>
                                              <mat-icon>bookmark_border</mat-icon>
                                              <!-- <mat-icon>bookmark</mat-icon> -->
                                              <span class="btn-custom">ذخیره</span>
                                            </button>
                                        <button mat-menu-item>
                                                <mat-icon>flag</mat-icon>
                                                <span class="btn-custom">گزارش</span>
                                              </button>
                                        <button mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span class="btn-custom">ویرایش</span>
                                              </button>
                                        <button mat-menu-item>
                                                <mat-icon>delete</mat-icon>
                                                <span class="btn-custom">حذف</span>
                                              </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="row w-100 me-0 justify-content-center">
                                <h1 class="p-2 post-title my-0">به مجله افرینه خوش امدید ضمنا جهت تنظیم برنامه به سایت اصلی مراجعه کنید</h1>
                                <div class="overflow-hidden p-0 h-100">
                                    <img src="./assets/image/30.jpg" class="post-img" alt="">
                                </div>
                                <div class="row px-0">
                                    <p class="col-12 mx-0 post-text">
                                        لورم ایپسوم متن ساختگی جهت تست کردن و برقرار کردن متن و محتوای مورد نظر به منظور نمایش و آزمایش است برای آشنایی با لورم ایپسوم لطفا به سایتی با همین نام مراجعه کنید با تشکر مدیریت و سازنده لورم ایپسوم <br> شما میتوانید
                                        به کمک لورم ایپسوم در طراحی های خود پیشرفت کنید و در ارائه خدمات پیشتاز باشید
                                        <br> از لورم ایپسوم در طراحی سایت ، فتوشاپ طراحی های مختلف و نرم افزارهای مختلف استفاده میشود.
                                    </p>
                                    <div class="row justify-content-end pb-3">
                                        <button mat-raised-button color="primary">ادامه مطلب</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center justrify-content-start p-2 mx-0 mb-1 w-100 border-custom">
                                <div class="post-author d-flex align-items-center">
                                    <img class="author-img" src="./assets/image/1.jpeg" alt="">
                                    <span class="author-name">مسعود آقایی ساداتی</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <!--- End Articles Section -->
        </div>
    </aside>
</div>